
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UnitedGlowHaven - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/ugh.css" />
</head>


<body class="bg-primary">
    <header>
        <div class="container text-center">
            <div class="row">
                <div class="col-3">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="~/images/UGHlogo.png" width="150" height="150" alt="Logo UGH">
                    </a>
                </div>
                <div class="col align-self-center">
                    <form asp-controller="Product" asp-action="Index" asp role="search">
                        <input class="form-control me-2" type="text" name="SearchString" placeholder="Search" aria-label="Search">
                    </form>
                </div>
                <div class="col-1 d-flex align-items-center">
                    <a class="nav-link" asp-controller="Winkelmand" asp-action="Index">
                        <img src="~/images/cart2.svg" width="40" />
                    </a>
                </div>
                <div class="col-1 d-flex align-items-center">
                        <partial name="_LoginPartial" />
                </div>
                <div class="nav-item dropdown col-1 d-flex align-items-center">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Admin </a>
                    <div class="dropdown-menu bg-custom-lighter" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Producten">Producten</a>
                        <a class="dropdown-item" asp-controller="Gebruiker" asp-action="Index">Gebruikers</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Orders">Orders</a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom bg-primary">
            <div class="container border-bottom">
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarCustom">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="home" asp-action="Index">home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="about" asp-action="Index">over</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="categorie" asp-action="Index" asp-route-id=1>broeken</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="categorie" asp-action="Index" asp-route-id=2>t-shirts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="categorie" asp-action="Index" asp-route-id=3>rokken</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="categorie" asp-action="Index" asp-route-id=4>kleedjes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="categorie" asp-action="Index" asp-route-id=5>jassen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="categorie" asp-action="Index" asp-route-id=6>truien</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - UnitedGlowHaven - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
